/* CSS Document */
@import url("https://sakura-sedaia.com/assets/fonts/fonts.css");

form {
	font-family: "Open Sans";

	i {
		color: red;
	}

	h2 {
		font-family: "Noto Sans JP";
	}
	input[type="checkbox"] {
		pointer-events: none;
		opacity: 50%;
		color: red;
	}
	.labelButton {
		cursor: pointer;
		
	}
}

// ID Rulesets

#extras {
	overflow: hidden;
	height: 1.4em;
}

#extraPos {
	position: relative;
	transform: translateY(0);

}

#humExt {
	float: left;
	position: absolute;
	transform: translateY(0);
}

#ardoClan {
	float: left;
	position: absolute;
	transform: translateY(25px);
}

#extrasTwo {
	overflow: hidden;
	height: 1.4em;
}

#extraPosTwo {
	position: relative;
	transform: translateY(0);

}

#humExtTwo {
	float: left;
	position: absolute;
	transform: translateY(0);
}

#ardoClanTwo {
	float: left;
	position: absolute;
	transform: translateY(25px);
}

#hybrid {
	width: 200px;
	height: auto;
	overflow: hidden;
}

#hybridToggle {
	cursor: pointer;
}

#crossbreed {
	height: 0px;
	overflow: hidden;
	border-bottom: 3px solid;
}

#necroButton {
	text-decoration: line-through;
}