* {
    transition-duration: 100ms;
}

form {
    font-family: "Noto Sans";
}

form div {
    overflow: hidden;
}

form .row-1 h2 {
    background-color: black;
    border-radius: 25px;
    color: white;
    width: fit-content;
    padding: 5px;
    width: 200px;
    text-align: center;
    padding-left: 0px;
    padding-right: 0px;
    font-size: 20px;
}

form .row-1 input[type=text] {
    display: inline-block;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: none;
    color: white;
    margin: 0;
    box-shadow: 0 -5px inset rgba(0, 0, 0, 0.25);
    background-blend-mode: multiply;
    background-color: transparent;
    background-image: linear-gradient(90deg, green, darkgreen);
    padding: 3px;
    padding-bottom: 5px;
    width: 120px;
}

form .row-1 input[type=text]::placeholder {
    color: lightgrey;
}

form .row-1 input[type=text]:focus {
    background-image: linear-gradient(45deg, red, darkgreen);
}